.container{
	
	height: 100vh;
	background: url(http://farm8.staticflickr.com/7244/7195625944_5a47ddbbef_b.jpg);
	background-position: center;
	background-size: cover;
	margin-bottom: 50px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item:center;
}
h1 {
	color: #fff;
    font-size:50px;
    font-weight: 600;
}
h3 {
	color: #fff;
	margin-top:20px; 
}

article{
	max-width: 600px;
    margin: 0 auto
}
p{padding-bottom: 20px;
	line-height: 1.5em;
}
